<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
  <title>Decorator with parameters test layout page</title>
</head>
<body>
<header>
  <h1>Parametrized Decorator test</h1>
</header>
 <!-- not resolved parameters -->
  <p th:text="${parameter1}">hello</p>
  <p th:text="${parameter2}">smth</p>

<footer>
  <p>********</p>
  <p layout:fragment="custom-test-footer">Custom decorator footer</p>
  <p>********</p>
</footer>
</body>
</html>