<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorator/decorate_and_titlepattern_test_layout}" lang="en">
<head>
  <title>Test1</title>

</head>
<body>
<!-- no completion/navigation for layout:fragment -->
<section layout:fragment="custom-test-content">
  <p>test1 page contents</p>
  <p>in this page all fragments are replaced</p>
</section>
<footer>
  <p layout:fragment="custom-test-footer">footer content from test1 page</p>
</footer>
</body>
</html>